<script type="text/javascript">
function toggleLED(state) {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', "/api/led?state="+state);
  xhr.send()
}
</script>
<a href="javascript:toggleLED('on')">Turn On LED</a>
<br />
<a href="javascript:toggleLED('off')">Turn Off LED</a>
